<%- include ('../layouts/adminheader') -%>
<style>
    .table {
        width: 97%;
        margin: auto;
        box-shadow: 1px 2px 20px rgb(194, 185, 185);
        padding: .2rem;
    }
</style>
<h2>Products</h2>
<a href="/admin/Products/addproduct">Add a new Product</a>
<br><br>
<%if(count>0){%>

<table class="table table-striped alignmiddle">
    <thead>
        <tr>
            <td>Title</td>
            <td>desc</td>
            <td>price</td>
            <td>Image</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <%if(products.length>0){%>
        <% products.forEach(function(product){%>
        <tr>
            <td><%= product.title%></td>
            <td><%=product.desc%></td>
            <td>$ <%=product.price%></td>
            <td>

                <%if(product.image == ""){%>
                <img src="/images/blank.png" alt="" width="80px" height="50px">
                <%} else {%>
                <img src="/products_image/<%= product._id %>/<%= product.image %>" width="80px" height="50px">
                <%}%>
            </td>
            <td><a  class="btn btn-primary btn-xs" href="/admin/products/edit-product/<%=product._id%>"
                onclick="return confirm('Are you sure to edit it!')">
                <i class="fa fa-edit"></i>
            </a></td>
            <td><a class="btn btn-danger btn-xs" href="/admin/products/delete-product/<%=product._id%>"
                    onclick="return confirm('Are you sure to delete it!')">
                    <i class="fa fa-trash"></i>
            </a></td>
        </tr>
        <%})}else{%>
        <tr>
            <td colspan="6" style="text-align: center;  background-color: rgb(255, 140, 140);">No Records Found!</td>
        </tr>
        <%}%>
    </tbody>
</table>
<%} else{%>
        <h3 class="text-center">There are no products</h3>
        <%}%>

<%- include ('../layouts/adminfooter') -%>