<%- include ('layouts/copyheader'); -%>




<section class="section-2">
    <!-- Let's Travel Anywhere -->
    <span class="main-heading">Let's Travel Anywhere</span>
    <div class="inputFeild">
        <input style="font-size:15px;" type="text" placeholder="continents by kind" role="textbox" size="6" id="inp1"
            onkeyup="searchByFeild()">
        <input style="font-size:15px;" type="number" placeholder="costs"  size="6" id="inp2"
            onkeyup="SearchByCosts()" >
    </div>
</section>

<section class="section-3">

    <div class="mainBlock">
        <div class="result" id="display"></div>
        <%products.forEach(function(p){%>

        <div class="underBlock" id="div-1">
            <a href="/products/<%=p.slug%>"><img src="/products_image/<%=p._id%>/<%=p.image%>" id="img-1"></a>
            <div class="aboutPage" id="place-name">
                <p><%=p.title%></p>
                <p>$</p>
                <p><%=parseFloat(p.price).toFixed(2)%></p>
            </div>
        </div>

        <% }); %>
    </div>

</section>


<script>
    const searchByFeild = () => {
    let inp1 = document.getElementById('inp1').value.toUpperCase();
    console.log(inp1);
    // let about=document.getElementsByClassName('about');
    let p = document.getElementsByTagName('p');
    for (var i = 0; i < p.length; i++) {
        // if (i*3%3 == 0) {
            // console.log('1',p[3*i].innerText);
            if(document.getElementsByTagName('p')[3*i] !== undefined){
                var val= p[3*i].innerText.toUpperCase();

            console.log(val);
            }
            
            

        if (val.indexOf(inp1) > -1) {
            console.log(val);
            document.getElementsByTagName('p')[3 * i].parentNode.parentNode.style.display = "";
        }
        else {
            document.getElementsByTagName('p')[3 * i].parentNode.parentNode.style.display= "none";
            
            
        }
        var html=document.querySelector("html");
        html.style.display="block";
        


        



    }


}
const SearchByCosts = () => {
    let inp2 = document.getElementById('inp2').value;
    console.log(inp2);

    if (inp2 != '') {
        num = 0, count = 0;
        let p = document.getElementsByTagName('p');
        for (var i = 0; i < p.length; i++) {
            if ((i + 1) % 2 == 0) {
                var val = Number(p[i].innerText);

                if (val <= Number(inp2)) {
                    // console.log(val);
                    document.getElementsByTagName('p')[i].parentNode.parentNode.style.display = "";
                    count++;
                }
                else {
                    let node = document.getElementsByTagName('p')[i];
                    node.parentNode.parentNode.style.display = "none";
                    num++;
                }


            }



        }
        if (num != 0 && count == 0) {
            document.getElementById('display').innerHTML = 'Sorry no content yet!!';
        }
        else {
            document.getElementById('display').innerHTML = "";
        }
    }
    else {
        //     document.getElementsByClassName('about').parentNode.style.display="";
        document.getElementById('display').innerHTML = "";
        searchByFeild()

    }



}
</script>